<!doctype html>
<title>en0.org - test page</title>
<head>
    <style>
        body {
            font-family: sans-serif;
            background-color:black;
            color:white;
        }

        h1 {
            background-color: #faa2fa;
            margin-top: 0;
            color: black;
            padding: 10px
        }
    </style>
</head>
<nav>
    <h1>flask test app</h1>
    <img src="https://github.com/kubernetes/kubernetes/raw/master/logo/logo.png" width="32" height="32"
         alt="kubernetes">
    <img src="https://github.com/kubernetes/kubernetes/blob/master/logo/name_blue.png?raw=true" height="32"
         alt="kubernetes_text">
</nav>